<title>VoIPGRID Meet</title>
<meta property="og:title" content="VoIPGRID Meet"/>
<meta property="og:image" content="/images/watermark.png?v=1"/>
<meta property="og:description" content="Join a WebRTC video conference powered by the Jitsi Videobridge"/>
<meta description="Join a WebRTC video conference powered by the Jitsi Videobridge"/>
<meta itemprop="name" content="VoIPGRID Meet"/>
<meta itemprop="description" content="Join a WebRTC video conference powered by the Jitsi Videobridge"/>
<meta itemprop="image" content="/images/watermark.png?v=1"/>
<link rel="icon" type="image/ico" href="/images/favicon.ico?v=1"/>